/* Main header styles */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  background-color: #f8f9f0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 10px 20px;
}

.website-name {
  margin-left: 5px;
  text-align: left;
}

.website-name__main {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.website-name__sub {
  font-size: 1rem;
  margin: 0;
}


.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.website-name {
  font-size: 0.9em;
}

.navbar {
  display: flex;
  align-items: center;
  width: 10%;

  
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 5px;
}

.nav-links li {
  margin-right: 60px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.nav-links a:hover {
  color: #275c5d; 
  font-weight: bold;
}

.nav-links .active-link {
  color: #105d5e; /* Optional: keep the color on active state */
  font-weight: bold; /* Keep text bold when active */
}


.login-button {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #b3eda9;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  width: 100;
}

.login-button:hover {
  background-color: salmon;
}



.login-wrapper {
  position: relative; /* Ensure positioning for the login form */
}

/* The login form appears on hover */
.login-form {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  background-color: #105d5e;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login-form h2 {
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: green;
}

.form-links {
  margin-top: 10px;
  text-align: center;
}

.form-links a {
  text-decoration: none;
  color: #ebfadb;
  font-size: 0.9em;
}

.form-links p {
  font-size: 0.9em;
  color: white;
}