/* Sidebar Styles
.sidebar-container {
    position: fixed;
    z-index: 10;
  }
  
  .sidebar {
    position: fixed;
    top: 105px;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f8f9f0;
    color: white;
    transition: left 0.3s ease;
    z-index: 999;
  }
  
  .sidebar.active {
    left: 0;
    background-color: #105d5e;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-link {
    display: block;
    padding: 15px;
    color: #105d5e;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  
  .sidebar-link:hover {
    background-color: white;
  }
  
  /* Sidebar toggle button for mobile */
  /* .sidebar-toggle {
    position: relative;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
    background: none;
    border: none;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      left: 0;
      transition: none;
    }
  
    .sidebar-toggle {
      display: none;
    }
  }
   */ 